.navOption {
    text-decoration: inherit;
    color: #8585AD;
    display: block;
    max-width: 320px;
    line-height: 64px;
}

.navOptionPromt{
    text-decoration: inherit;
    color: #8585AD;
    display: block;
    max-width: 320px;
}


.navButton {
    background: none!important;
  border: none;
  padding: 0!important;
  color: #8585AD;
  text-decoration: none;
  cursor: pointer;
  margin-right: auto;
  line-height: 64px;
}



.active{
    color: #F2F2F3;
    display: block;
}


.mainbox{
    display: flex;
    
    
    margin-top: 20vh;

}

.input{
display: grid;
align-items: start;

}


.text{
    display: block;

}

.link{
    color: #4C4CFF;
    
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    margin-left: auto;
}
.detailed{
    margin-right: auto;
}
.button{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.orderHistoryBox{
    max-height: 70vh;
    overflow-y: scroll;
}
.navDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    margin-left: auto;
}