.BurConstructorItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burconstructor-body{
    width: 31.5vw;
    height: 65vh;
    overflow-y: scroll;
    
}

.main-page-basket{
    width: 31.5vw;
    display: flex;
}

.main-page-basket__count-price{
display: grid;
align-items: center;
margin-left: auto;
margin-right: 12px
}

.main-page-basket__CurrencyIcon{
    display: grid;
    align-items: center;
    margin-right: 60px;
    
}

.main-page-basket__CurrencyIcon:nth-child(n){
transform: scale(1.5);
/* margin-right: 45px; */
}

